@import 'colors';

#map-germany {
  height: 80vh;

  .scenario-selection-container {
    display: none;
    max-width: 500px;
    position: absolute;
    top:  10px;
    left: 0;
    z-index: 999;
    i {
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 30px;
      color: $verydarkblue;
    }
    .awesomplete {
      width: 100%;
      margin-bottom: 8px;
      ul {
        z-index: 99999 !important;
        font-size: 20px;
      }
    }
    .district-info-box {
      background: white;
      border: 1px solid grey;
      padding: 15px;
      color: grey;
      margin-bottom: 8px;
      .btn {
        margin: 0;
        width: 100%
      }
    }
  }
}
