
#map-germany {
  height: 80vh;

  .scenario-selection-form {
    width: calc(100% - 40px);
    position: absolute;
    bottom:  10px;
    left: 20px;
    z-index: 9999;

    input, button {
      width: 100%;
      height: 70px;
      font-size: 30px;
      text-align: center;
      margin-top: 0;
      border: 1px solid grey;
    }
    select {
      height: 70px;
      font-size: 30px;
      width: 100%;
      border: 1px solid grey;
    }
  }
}
