#hero {
  #district-geometry {
    height: 200px;
    .leaflet-clickable {
      cursor: default;
    }
  }
  header {
    padding-top: 20px;
    h1, h2 {
      line-height: 60px;
      vertical-align: middle;
    }
  }
}

#test-map {
  height: 100vh;
}

#modal-split-chart {
  display: block;
  height: 18vh;
  width: 32.5vw;
}

#traffic-performance-chart {
  display: block;
  height: 12.5vh;
  width: 32.5vw;
}

#diurnal-curve-chart {
  display: block;
  height: 12.5vh;
  width: 32.5vw;
}

#boxplot-chart {
  display: block;
  height: 12.5vh;
  width: 32.5vw;
}
