#hero {
  #district-geometry {
    height: 200px;
    .leaflet-clickable {
      cursor: default;
    }
  }
  header {
    padding-top: 20px;
    h1, h2 {
      line-height: 60px;
      vertical-align: middle;
    }
  }
}

#grid-map {
  height: 100%;
}

.box {
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;
  padding: 5px 5px;
}

.box-chart {
  height: 20vh;
  width: 30vw;
  margin: 0 auto;
}
