#demo-monitor
  .od-mode-elements
    .monitor-button-container
      #heatmap-button-heatmap.heatmap-button.monitor-button HEATMAP
      #heatmap-button-activities.heatmap-button.monitor-button.active= t('demo.activities')

    #mode-name
    #feature-starts
    #activity-legend
    #map-container
      #demo-monitor-map
        = image_tag 'hexagon', class: 'demo-hexagon-overlay'

    %svg#activity-split

  .activity-mode-elements
    #explanation-a.explanation
      %h1 Willkommen zu 3connect!
      %b Erforschen Sie die Mobilität in Osnabrück
      %p Links können Sie die räumliche Verteilung des durchschnittlichen Verkehrsaufkommens betrachten. Einzelne Verkehrsmittel werden über die farbigen Schaltflächen ausgewählt. Um einen Einblick in die Verkehrsflüsse zu bekommen, betätigen Sie die Schaltflächen "Abfahrten" oder "Ankünfte".

    #explanation-b.explanation
      %h1 Das Projekt 3connect
      %b Mobilität im Hub Osnabrück
      %p Im Rahmen von 3connect werden an drei Standorten (Hubs) vernetzte, interoperable und übergreifende IKT-basierte Elektromobilitätsanwendungen im Bereich der gewerblichen Mobilität entwickelt und getestet. Projektziel ist es, dem elektromobilen Anwender zu ermöglichen, beliebige Hard- und Software plug&play zu kombinieren, sodass möglichst alle Anwendungsfälle und Wünsche des Kunden abgedeckt werden. Das InnoZ fokussiert sich dabei auf dei Begleitforschung zum Thema Smart Traffic innerhalb des Hubs Osnabrück sowie die übergeordnete, vor allem qualitativ ausgerichtete Begleitforschung über alle drei Hubs (Osnabrück, Aachen, Allgäu) inkl. Transfer der Ergebnisse.

    .monitor-button-container
      .explanation-button.monitor-button.active{target: '#explanation-a'} Willkommen
      .explanation-button.monitor-button{target: '#explanation-b'} Hintergrund

  #data-loading loading...
  #loading-bar

// do not include via asset pipeline since mapbox is required for all other maps instead
= javascript_include_tag 'leaflet'
= javascript_include_tag 'leaflet-heat'
