#demo-monitor
  #heatmap-button-container
    #heatmap-button-heatmap.heatmap-button.active{start_or_end: 'start'} HEATMAP
    #heatmap-button-activities.heatmap-button{start_or_end: 'end'} ACTIVITIES

  #mode-name
  #feature-starts
  #activity-legend
  #demo-monitor-map
    .demo-overlay-container
      .demo-square-overlay-left
      = image_tag 'hexagon', class: 'demo-hexagon-overlay'
      .demo-square-overlay-right

  %svg#activity-split

  #data-loading loading...

// do not include via asset pipeline since mapbox is required for all other maps instead
= javascript_include_tag 'leaflet'
= javascript_include_tag 'leaflet-heat'
