#demo-touch
  .row
    .col-sm-12.mode-selector-container
      .demo-button-container

        - Scenario.first.mode_colors.each do |mode, mode_color|
          .color-button.od-mode-selector{od_mode: mode, color: mode_color}= t("mode_names.#{mode}").upcase

  .row
    #log
    #od-map

:javascript
  window.data = #{@data_demo_scenario.to_json}
  window.odRelations = #{@od_relations_demo_scenario.to_json}
