.row.inner-top-md
  .col-xs-12.center-block.text-center
    %h4.sidelines.text-center
      %span= t('views.about.bottom_header')

.row.inner-top-xs
  .col-sm-12
    %figure
      .responsive-video
        %iframe{allowfullscreen: '', frameborder: '0', src: 'https://www.youtube.com/embed/YfnMJTr6q24'}
      %figcaption.close-figcaption
        = t('views.about.video_title')
