%section
  #owl-main.owl-carousel.owl-one-item
    .item{style: "background-image: url(#{asset_path 'pages/about/matsim_header.jpg'});"}

%section
  .container.inner-sm
    = render 'pages/about/description'

%section.light-bg
  .container.inner-xs
    = render 'pages/about/usp'

%section
  .container.inner-xs
    = render 'pages/about/example'
