%section#creator-header{style: "background-image: url(#{asset_path 'scenarios/new/header'})"}
  .container.inner
    .row
      .col-md-7.col-sm-8.text-center
        %header
          %h1 MOBILITÄTSSIMULATION ON DEMAND
          %p Mit nur wenigen Klicks können Sie hier ein eigenes Zukunftsszenario für Ihren Landkreis zusammenstellen
        %a.btn.btn-large{'data-toggle' => 'modal', 'data-target' => '#creator-modal'}
          Szenario erstellen
