%section#creator-header{style: "background-image: url(#{asset_path 'scenarios/new/header'})"}
  .container.inner
    .row
      .col-md-7.col-sm-8.text-center
        %header
          %h1
            = t('views.creator.title')
          %p
            = t('views.creator.text')
        %a.btn.btn-large{'data-toggle' => 'modal', 'data-target' => '#creator-modal'}
          = t('views.creator.create_scenario')
