%section#hero
  #owl-main.owl-carousel.owl-one-item
    .item{style: "background-image: url(#{asset_path 'pages/index/hero.jpg'});"}
      .container
        .caption.vertical-center.text-left
          %h1.fadeInRight-1.dark-bg.light-color
            %span
              = t('views.index.header_part1')
            %br
            %span
              = t('views.index.header_part2')
          %p.fadeInRight-2.light-color
            = t('views.index.header_text')

%section#introduction.light-bg
  .container.inner
    .row
      .col-xs-12
