%section#index-map
  .container-full
    .row
      .col-xs-12
        #map-germany
          .scenario-selection-form
            .col-xs-12
              %input#district-input.big-input{placeholder: t('.search_district')}
              %i.icon-search-1

:javascript
  window.availableDistricts = #{@scenarios.map(&:district_id)}
  window.districtsGermanyGeo = #{@districts_germany}
  window.districtsGermanyList = #{raw DistrictsGermany.list.to_json}
