%section#index-map
  .container-full
    #map-germany
      .col-xs-12.scenario-selection-container
        %input#district-input.big-input{placeholder: t('.search_district')}
        %i.icon-search-1
        .district-info-box
          .header
          .info
        = render 'layouts/flash'

:javascript
  window.availableDistricts = #{@available_districts}
  window.districtsGermanyGeo = #{@districts_germany}
  window.districtsGermanyList = #{raw DistrictsGermany.list.to_json}
