%section#new
  .container.inner-sm
    .row
      .col-xs-12.text-center
        %h1
          Kommt in Kürze
          %i.icon-github{style: 'font-size: 180px'}
          %i.icon-rocket{style: 'font-size: 180px'}
          %i.icon-s-evernote{style: 'font-size: 180px'}
