%section#introduction
  .container.inner-xs
    .row
      .col-xs-12
        #district-geometry
    .row
      .col-xs-4
        %b Landkreis:
        = @scenario.district_name
      .col-xs-4
        %b Jahr:
        = @scenario.year
      .col-xs-4
        %b Agenten:
        = @scenario.number_of_agents

:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
