%section#introduction
  .container.inner-xs
    .row
      .col-xs-4
        %b Landkreis:
        = @scenario.district_id
      .col-xs-4
        %b Jahr:
        = @scenario.year
      .col-xs-4
        %b Agenten:
        = JSON.parse(@scenario.json)['features'].length
