/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-ui
 *= require bootstrap_loader
 *= require template_styles
 *= require owl.carousel
 *= require owl.transitions
 *= require animate.min
 *= require aos
 *= require fontello
 *= require blue
 *= require mapbox
 *= require awesomplete
 *= require nv.d3
 *= require_tree
 */

@import 'colors';

 .navbar-brand-mobile img {
   height: 40px;
 }

 .navbar-collapse.collapsing li {
   float: none;
 }

 .navbar-collapse {
   padding-top: 5px;
 }

 .active-navbar-li {
  a {
    color: #3F8DBF !important;
    font-size: 101% !important;
  }
}

@media (min-width: 1025px) {
  .navbar-collapse.collapse {
    padding-bottom: 15px;
  }
}

.btn {
  border-radius: 0;
}

footer {
  .logo {
    width: 80%;
  }
}

hr {
  margin: 10px 0;
}

// for lists with glyphicons on each line start
.icon-list-table {
  th {
    font-weight: normal;
  }
  .table-icon-cell {
    vertical-align: top;
    padding-right: 10px;
  }
}

// leaflet
.leaflet-container {
  background-color: rgba(0,0,0,0);
}

.leaflet-control-attribution {
  display: none;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.color-button {
  // gets color via javscript
  font-weight: bold;
  padding: 4px 10px;
  margin: 0 2px;
  border-radius: 16px;
  background: none;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

//panels
.panel-title {
  background: $grey;
  padding: 10px 16px;
  font-size: 20px;
  text-transform: none;
  color: $verydarkblue;
  .label {
    margin-left: 8px;
    font-size: 18px;
    background-color:  $verydarkblue;
  }
  &.light-panel-title {
    * {
      color: $blue;
    }
    .label {
      background-color: $blue;
      color: white;
    }
  }
}
.panel-toggle {
  background: none !important;
}
.panel-body {
  padding: 0;
}
