#demo-touch {
  background: black;

  #od-map {
    height: 100vh;
  }

  .legend {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    z-index: 500;
    text-align: center;
    * { display: inline-block; }
    .current-count-bar {
      width: 30vw;
      height: 100%;
      vertical-align: bottom;
    }
    .legend-label {
      height: 100%;
      vertical-align: bottom;
      color: white;
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  .mode-button-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
    text-align: center;
    * { display: inline-block; }
  }
}

#demo-monitor {
  height: 100vh;

  .leaflet-container {
    background: lightgray;
  }

  #mode-name {
    position: absolute;
    z-index: 999;
    top: 60px;
    left: 50px;
    font-size: 50px;
    text-transform: uppercase;
  }

  #feature-starts {
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 50px;
    font-size: 30px;
  }


  .mapbox-info-toggle {
    display: none;
  }

  #demo-monitor-map {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
  }

  .demo-overlay-container {
    position: absolute;
    opacity: 0.7;
    z-index: 500;
  }

  .demo-hexagon-overlay {
    float: left;
    width: 100vh;
    height: 100vh;
  }

  .demo-square-overlay {
    float: left;
    background-color: black;
    width: calc((100vw - 100vh) / 2);
    height: 100vh;
  }

  .leaflet-tooltip-pane .activity-icon {
    color: white;
    opacity: 0.7;
    font-weight: bold;
    background: transparent;
    border: 0;
    box-shadow: none;
    text-transform: capitalize;
    font-size: 150%;
    padding: 7px;
  }
}
