#demo-touch {
  background: black;

  #od-map {
    height: 100vh;
  }

  #calm-down {
    display: none;
    position: absolute;
    width: 100vw;
    color: white;
    text-align: center;
    top: 7vh;
    font-size: 23px;
    z-index: 500;
  }

  .legend {
    position: absolute;
    left: 20px;
    bottom: 20vh;
    z-index: 500;
    .current-count-bar {
      width: 40px;
      height: 50vh;
      vertical-align: middle;
    }
    .legend-label {
      color: white;
      font-size: 20px;
      margin: 5px 0;
    }
  }

  .mode-button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 500;
    text-align: center;
    * { display: inline-block; }
  }

  .nv-pie {
    path {
      stroke-opacity: 0;
      fill-opacity: 1;
      color: white;
    }
    text {
      fill: white !important;
      font-size: 12px;
    }
  }

  #polygon-modal-split {
    height: 300px;
    width: 300px;
    position:
    absolute;
    top: 50px;
    right: 0;
    z-index: 500;
  }
}

#demo-monitor {
  height: 100vh;

  .leaflet-container {
    background: lightgray;
  }

  .nv-multiBarHorizontalChart {
    text {
      fill: white !important;
      font-size: 15px;
    }
  }

  #mode-name {
    position: absolute;
    z-index: 999;
    top: 60px;
    right: 50px;
    font-size: 50px;
    text-transform: uppercase;
  }

  #feature-starts {
    position: absolute;
    z-index: 999;
    top: 90px;
    right: 50px;
    font-size: 20px;
  }

  .activity-legend-icon {
    color: white;
    position: absolute;
    z-index: 999;
    font-size: 20px;
  }

  .mapbox-info-toggle {
    display: none;
  }

  #demo-monitor-map {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
  }

  .demo-overlay-container {
    position: absolute;
    opacity: 1;
    z-index: 500;
  }

  .demo-hexagon-overlay {
    float: left;
    width: 100vh;
    height: 100vh;
  }

  .demo-square-overlay-left {
    float: left;
    background-color: black;
    width: calc((120vw - 100vh) / 2);
    height: 100vh;
  }

  .demo-square-overlay-right {
    float: left;
    background-color: black;
    width: calc((80vw - 100vh) / 2);
    height: 100vh;
  }

  .leaflet-tooltip-pane .activity-icon {
    opacity: 0.7;
    font-weight: bold;
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 150%;
  }

  #heatmap-button {
    color: white;
    position: absolute;
    bottom: 80px;
    right: 80px;
    z-index: 999;
    font-weight: bold;
    padding: 4px 10px;
    margin: 4px;
    border-radius: 16px;
    background: none;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;

    &.active {
      background: white;
      color: black;
    }
  }

  .leaflet-heatmap-layer {
    opacity: 0.7;
  }

  #activity-split {
    height: 45vh;
    // width adapted on left-square-overlay
    width: calc((120vw - 100vh) / 2 - 50px);
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 500;
    line {
      stroke-opacity: 0;
    }
  }
}

#data-loading {
  position: absolute;
  z-index: 9999;
  top: 0;
  color: #B8CEB1;
  font-size: 30px;
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
  padding-top: 45vh;
  animation: blink 7000ms infinite alternate;
}

@keyframes blink {
  0% { color: #f2b50c; }
  10% { color: black; }
  20% { color: #db8012; }
  30% { color: black; }
  40% { color: #3db783; }
  50% { color: black; }
  60% { color: #50a0b5; }
  70% { color: black; }
  80% { color: #c94380; }
  90% { color: black; }
  100% { color: #B8CEB1; }
}

.switch-button-container {
  position: absolute;
  bottom: 120px;
  right: 80px;
  z-index: 999;
  .switch-button {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 16px;
    background: none;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;

    &.active {
      background: white;
      color: black;
    }
  }
}
