#request-modal.modal.fade{role: 'dialog', 'data-backdrop' => 'static'}
  .modal-dialog.modal-xs
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          = t('views.request.request_access')
      = form_tag '/login' do
        .modal-body
          .col-xs-12
            %p
              = t('views.request.access_coming_soon')
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Okay
